@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /* Couleurs du corps */
    --couleur-body-clair:rgb(252, 241, 241);
    --couleur-body-sombre:#0b071e;

    /* Couleurs du contenu */
    --couleur-bleu:#4f31e4;
    --couleur-bleu-claire:#6c57db;
    --couleur-sombre: white;

    /* Polices */
    --police: 'Poppins', sans-serif;
}

/*Reset du css*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
    
}

body {
    font-family: var(--police);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Dark mode */

.dark-mode {
    background-color: var(--couleur-body-sombre);
    color: var(--couleur-sombre);
}

.dark-mode nav {
    background-color: var(--couleur-body-sombre);
}

.dark-mode .nav-icon   {
    filter: invert(99%) sepia(4%) saturate(2%) hue-rotate(349deg) brightness(121%) contrast(100%);
}

.dark-mode .contact:hover, .dark-mode .cv:hover {
    background-color: var(--couleur-body-sombre);
}

.dark-mode .social-img {
    filter: invert(99%) sepia(4%) saturate(2%) hue-rotate(349deg) brightness(121%) contrast(100%);
}

.dark-mode .bar-barre {
    background-color: var(--couleur-sombre);
}

.dark-mode nav {
    box-shadow: rgb(2, 2, 2) 0px 1px 24px;
}

/* Barres du menu */

#bar, #barr  {
    position: absolute;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    z-index: 999;
    background-color: var(--couleur-bleu);
    border-radius: 100px;
    z-index: 1;
    
}

#bar1 {
    transform: rotate(45deg) translateY(4px) translateX(3px);
}

#bar3 {
    transform: rotate(-45deg) translateY(-5px) translateX(4px) ;
}

#bar {
    left: 20px;
}

#barr {
    z-index: 2;
    
}

#barre-scroll {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 20px;
    height: clamp(75px,9vh,9vh);
    z-index: 1;
    
}

#rond-scroll {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}



#barr:hover {
    cursor: pointer;
}

#bar:hover {
    cursor: pointer;
}

.bar-barre {
    background-color: black;
    background-color: white;
    width: 32px;
    height: 4px;
    border-radius: 1200px;
}

/* ============== Scroll menu ============================================================================= */



#scrollMenu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--couleur-bleu);
    clip-path: circle(25px at calc(0% + 45px) 45px);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
     
}


.ulScroll {
    display: flex;
    flex-direction: column;
    height: 30vh;
    font-weight: 400;
    font-size: 2rem;
    color: var(--couleur-body-clair);
    margin-top: -28vh;
    
}

.contact-scroll li a{
    display: flex;
    align-items: center;
    color: var(--couleur-sombre);
    
}

.contact-scroll li a img{
    margin-right: 0.5vw;
    
}

.contact-scroll li:hover img {
    filter:none;
}

.ulScroll li {
    margin-bottom: 10px;
}

.li-titre {
    margin-bottom: 30px;
    font-size: 3.2rem;
    font-weight: bolder;
    color: rgb(255, 254, 255);
    text-decoration: underline;
    text-underline-offset: 13px;
}

.scroll-a {
    color: var(--couleur-body-clair);
    
}

.ulScroll a:hover {
    display: flex;
    color: black;
    transform: translateX(20px);
    transition: transform 0.3s linear;
}

.highlightedSombre {
    color : black;
}

.menu-icon {
    filter: invert(100%) sepia(16%) saturate(5593%) hue-rotate(228deg) brightness(127%) contrast(109%);
}

.menu-icon:hover {
    filter: invert(3%) sepia(66%) saturate(3906%) hue-rotate(246deg) brightness(112%) contrast(96%);
}

/* ============== Nav ==================================================================================== */

#block1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: var(--couleur-noir);
    font-size: clamp(17px,1.1vw,1.2vw);
    white-space: nowrap; 
}

.ulNav a:hover {
    color:var(--couleur-bleu);
    transition: 0.3s;
}

.nom {
    position: absolute;
    left: 135px;
    
}

nav {
    height: clamp(75px,9vh,9vh);
    position: sticky;
    background-color: var(--couleur-sombre);
    top: 0;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content:right;
    align-items: center;
    font-weight: bold;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



.ulNav,.ulNav li {
    display: inline-flex;
    margin-right: 3vw;
    align-items:center ;  
}

.nav-icon, .menu-icon {
    width: 43px;
    height: auto;
    
}

.nav-icon {
    margin-top: 5px;
}

.nav-icon:hover {
    filter: invert(14%) sepia(59%) saturate(7381%) hue-rotate(253deg) brightness(83%) contrast(107%);
}

.highlighted {
    color:var(--couleur-bleu);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness :3px;
}

/* ============== Index ================================================================================ */

#blob { 
    display: flex;
    align-items:self-end;
    justify-content: center;
    margin-left: 10px;
    min-width: 400px;
    min-height: 400px;
    background: var(--couleur-bleu); 
    border-radius: 50%;
    overflow: hidden;

 }

 #nixon {
    width: 300px;
    height: 400px;  
 }


 .container {
    display: flex;
    width: clamp(400px,60vw);
    margin: auto;
    margin-top: 10vh;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.container-social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 120px;
}

.container-social img {
    width: 50px;
    height: 50px;
}

.social-img:hover {
    filter: invert(14%) sepia(59%) saturate(7381%) hue-rotate(253deg) brightness(83%) contrast(107%);
}


.text-container {
    width: 400px; 
    margin-right: 80px;
}

.text-container h3 {
    font-weight: 300; 
    text-align: justify;   
}

.text-container h1 {
    font-size: 70px; 
    color: var(--couleur-bleu);   
}

.text-container h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact,.cv {
    display: flex;
    background-color: var(--couleur-bleu);
    color: var(--couleur-body-clair);
    width: 250px;
    height: auto;
    min-height: 70px;    
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    
}

.contact {
    margin-top: 40px;
    font-size: 1.2rem;
}

.contact:hover, .cv:hover {
    /* filter: brightness(0.6); */
    color: var(--couleur-bleu);
    background-color: var(--couleur-body-clair);
    border: 3px solid var(--couleur-bleu);
    font-weight: bolder;
    transition: color 0.2s;
    transition: background-color 0.3s;
}

/* ============== TMP ============== */

.tmp {
    text-align: center;
    color: rgb(25, 194, 25);
    font-size: 30px;
    /* color: var(--couleur-bleu); */
    margin-top: 5vh;
    
}

.tmp2 {
    text-align: center;
    /* color: rgb(25, 194, 25); */
    font-size: 30px;
    color: var(--couleur-bleu);
    margin-top: 5vh;
    
}

/* ============== Profil =============================================================================== */

.container_profil {
    margin: auto;
    margin-top: 30px;
    width: 80vw;
    padding: 10px;
    font-size: 1.2rem;
    
}

.button_cv {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

.cv {
    margin-right: 1vw;
    margin-left: 1vw;
    background-color: var(--couleur-bleu);
}

.p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p h1 {
    text-align: center;
}

#pdf {
    margin-top: 20px;
    width: clamp(200px,1200px,80vw);
    height: 1000px;
    
}

#voirCv:hover {
    cursor: pointer;
}

.visible {
    display: none;
}

.p p {
    width: 50%;
    margin: auto;  
}

 /* ============== BTS ============== */

 .descBTS {
    margin: auto;
    width: 65vw;
    padding: 10px;
    font-size: 1.2rem;
 }

 h4 {
    text-align: center;
 }

.pBTS {
    text-align: justify;
}

.ulBTS li::before {
    content: "-";
    
}

@media (max-width: 1100px) {
    .ulNav {
        display: none;
    }

    #bar {
        left: auto;
        right: 20px;
    }

    #barre-scroll {
        left: auto;
        right: 20px;
    }

    .nom {
        font-size: 1.5rem;
        left: 40px;
    }

    #scrollMenu{
        clip-path: circle(25px at calc(100% - 45px) 45px);
        
    }
  }
